<section class="my-5">
  <div class="container">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 px-5 gap-4 w-fit mx-auto my-5 justify-center items-center"
    >
      @for (item of categoryItems; track $index) {
      <div class="m-5">
        <div class="product rounded-3">
          <div class="flex flex-col justify-center items-center">
            <img class="w-100 h-72" [src]="item.image" [alt]="item.name" />

            <h4 class="mt-2 text-main text-center">{{ item.name }}</h4>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
