<section class="max-w-full my-2 px-2">
  <div class="flex flex-row mx-auto w-full basis-0">
    <div class="grow w-80">
      <owl-carousel-o [options]="customOptionsMain">
        <ng-template carouselSlide>
          <img
            src="./assets/slider-image-1.jpeg"
            class="w-full h-80"
            alt="slider-image-1"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            src="../../../assets/slider-2.jpeg"
            class="w-full h-80"
            alt="slider-image-1"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/slider-image-1.jpeg"
            class="w-full h-80"
            alt="slider-image-1"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/slider-image-1.jpeg"
            class="w-full h-80"
            alt="slider-image-1"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/slider-image-1.jpeg"
            class="w-full h-80"
            alt="slider-image-1"
        /></ng-template>
      </owl-carousel-o>
    </div>
    <div class="flex grow-0 flex-col">
      <img
        src="./assets/slider-image-2.jpeg"
        alt="slider-image-2"
        class="w-full h-40"
      /><img
        src="./assets/slider-image-3.jpeg"
        class="w-full h-40"
        alt="slider-image-3"
      />
    </div>
  </div>
</section>
<section class="my-4 px-2">
  <h3 class="text-main text-3xl text-center my-5">popuar catgeories</h3>
  <owl-carousel-o [options]="customOptionsCat">
    @for (cat of categoriesList; track cat._id) {
    <ng-template carouselSlide>
      <img [src]="cat.image" [alt]="cat.name" class="w-full h-60" />
      <h5 class="text-main text-xl">{{ cat.name }}</h5>
    </ng-template>
    }
  </owl-carousel-o>
</section>
<section class="flex flex-col justify-center">
  <h2 class="text-main text-3xl text-center align-top my-5">popular product</h2>
  <input 
  [(ngModel)]="text"
    type="search"
    placeholder="search by name"
    class="bg-gray-50 border w-96 my-2 mx-auto border-gray-300 shadow-md text-green-900 text-main text-xl rounded-lg focus:ring-green-500 focus:border-green-500 block  p-2.5 dark:bg-green-700 dark:border-green-600 dark:placeholder-green-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
  />
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 px-5 gap-4 w-fit mx-auto my-5"
  >
    @for (product of productList.slice(0,12)|search:text; track product.id) {

    <div
      class="max-w-sm px-2 product bg-white border border-green-200 rounded-lg shadow flex flex-col justify-center dark:bg-green-800 dark:border-green-700"
    >
      <div [routerLink]="['/details', product.id]">
        <img
          width="250px"
          height="200px
    "
          class="rounded-t-lg object-cover"
          [src]="product.imageCover"
          [alt]="product.title"
        />

        <div class="p-5">
          <div>
            <h4 class="text-md text-green-500 capitalize text-left">
              {{ product.category.name }}
            </h4>
            <h5
              class="mb-2 text-xl text-left font-bold tracking-tight text-gray-900 dark:text-white"
            >
              {{ product.title | term : 2 }}
            </h5>
          </div>

          <div class="flex flex-row justify-between my-3 items-center">
            <span class="text-xl text-gray-700 font-bold">{{
              product.price | currency : "EGP "
            }}</span
            ><span
              >{{ product.ratingsAverage }}
              <span class="text-yellow-300"
                ><i class="fa-solid fa-star"></i
              ></span>
            </span>
          </div>
        </div>
      </div>
      <button (click)="addToCart(product.id)" class="btn-main rounded-md mb-3 px-2 block ms-auto">
        Add to cart <span><i class="fa-solid fa-cart-shopping"></i></span>
      </button>
    </div>
    }
  </div>
</section>
