<section class="my-5">
  <h1 class="text-main text-4xl text-center my-3">Forgot password</h1>
  @if (step==1) {
  <form
    (ngSubmit)="verifyEmailSubmit()"
    [formGroup]="verifyEmail"
    class="rounded-lg bg-main-light shadow-lg mx-auto p-10 container w-[80%]"
  >
    <div class="my-5 container">
      <label
        class="block text-main text-xl mb-2 font-medium text-gray-900 dark:text-white"
        for="email"
        >email</label
      ><input
        formControlName="email"
        id="email"
        class="bg-gray-50 border border-gray-300 shadow-md text-gray-900 text-main text-xl rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        type="email"
      />
    </div>
    <button
      [disabled]="verifyEmail.invalid || isLoading"
      class="btn-main mx-auto block w-full capitalize"
    >
      verify email @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>}
    </button>
  </form>

  } @else if (step==2) {
  <form
    (ngSubmit)="sentCode()"
    [formGroup]="verifycode"
    class="rounded-lg bg-main-light shadow-lg mx-auto p-10 my-5 container w-[80%]"
  >
    <div class="my-5 container">
      <label
        class="block text-main text-xl mb-2 font-medium text-gray-900 dark:text-white"
        for="resetCode"
        >code</label
      ><input
        formControlName="resetCode"
        id="resetCode"
        class="bg-gray-50 border border-gray-300 shadow-md text-gray-900 text-main text-xl rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        type="text"
      />
    </div>
    <button
      [disabled]="verifycode.invalid"
      class="btn-main mx-auto block w-full capitalize"
    >
      sent Code @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>}
    </button>
  </form>
  } @else if (step==3) {
  <form
    (ngSubmit)="resetPasswordSubmit()"
    [formGroup]="resetPassword"
    class="rounded-lg bg-main-light shadow-lg mx-auto p-10 container w-[80%]"
  >
    <div class="my-5 container">
      <label
        class="block text-main text-xl mb-2 font-medium text-gray-900 dark:text-white"
        for="email"
        >email</label
      ><input
        readonly
        formControlName="email"
        id="email"
        class="bg-gray-50 border border-gray-300 shadow-md text-gray-900 text-main text-xl rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        type="email"
      />
    </div>
    <div class="my-5 container">
      <label
        class="block text-main text-xl mb-2 font-medium text-gray-900 dark:text-white"
        for="password"
        >password</label
      ><input
        formControlName="password"
        id="password"
        class="bg-gray-50 border border-gray-300 shadow-md text-gray-900 text-main text-xl rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        type="password"
      />
    </div>
    <button
      [disabled]="resetPassword.invalid"
      class="btn-main mx-auto block w-full capitalize"
    >
      confirm reset password
    </button>
  </form>
  }
</section>
